
body {
    background-color: black;
}

.header {
    color:slategray;
}

.divbox {
    max-width:600px;
    max-width:600px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.buttonbox {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}

.diverino {
    width:600px;
    height:600px;
    background-color: slategrey;
    justify-content:center;
    align-items:center;
}

.buttonbox > .btn {
    margin:0.5em;
}

/* styling regarding the Options section */

.select {
    display: flex;
    width:150px;
    height:25px;
}
.select2 {
    display: flex;
    width:150px;
    height:25px;
}
.optdiv {
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding:25px;
    justify-content: space-evenly;
}

/* --------------------------------------------- */