
body {
    background-color: black;
}

.header {
    color:slategray;
}

.divbox {
    max-width:600px;
    max-width:600px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.buttonbox {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}

.spanerino {
    width:600px;
    height:600px;
    background-color: slategrey;
    justify-content:center;
    align-items:center;
}