/* google Fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*body styling */

body {
    background-image: url('../images/popcorn3.jpg');
    font-family: "Bebas Neue", sans-serif;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height:100vh;
    text-shadow: 2px 5px 5px black;
    display:flex;
    flex-direction: column;
}

/*header styling*/

.header {
    color:whitesmoke;
    height:100px;
    font-size:100px;
    padding:50px;
}

@media (max-width: 768px) {
    .header {
        font-size: 2.5rem;
    }
}

.section {
    display:flex;
    flex-direction: column;
}

/* styling regarding the Options section */

.select {
    display: flex;
    width:150px;
    height:25px;
}
.select2 {
    display: flex;
    width:150px;
    height:25px;
    margin-left:50px;
}
.optdiv {
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding:50px;
}

/* styling regarding the movie display div*/

.divbox {
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:5px;
    text-align:center;
}

#movieDisplay {
    max-width:600px;
    width:100%;
    justify-content:center;
    align-items:center;
    padding:15px;
    color:whitesmoke;
    letter-spacing: 1.5px;
}
#movieDisplay p {
    font-size:larger;
}
.poster {
    max-width:400px;
    max-height:300px;
    object-fit: contain;
}

/* styling regarding the btns */

.buttonbox {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}

.buttonbox > .btn {
    background-color:whitesmoke;
    color:black;
    border-color:black;
    border-radius: 2px;
    margin:2px;
}

.btn:hover {
    background-color:grey;
}
